In [1]:
import numpy as np

In [2]:
a = np.array([1, 2, 3]) #created a numpy array by using the np.array function and passing a list to the function
a                       #assigned this array to the variable a

array([1, 2, 3])

In [ ]:
#create a matrix; list of arrays that are columns and rows  
#(parentheses are needed after a function) [brackets enclose the list] 
#[[notice there are two sets of brackets][there is more than one list][thats why you need outer brackets]]

In [4]:
matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [5]:
a[0]

1

##Exercises for Numpy

In [7]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

How many negative numbers are there?

How many positive numbers are there?

How many even positive numbers are there?

If you were to add 3 to each data point, how many positive numbers would there be?

If you squared each number, what would the new mean and standard deviation be?

A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of the data is 0. This is done by subtracting the mean from each data point. Center the data set. See this link for more on centering.

Calculate the z-score for each data point. Recall that the z-score is given by:

*look at the equation on the curriculum*
    
Copy the setup and exercise directions from More Numpy Practice into your numpy_exercises.py and add your solutions.

In [35]:
a < 0

array([False, False, False, False,  True,  True, False, False, False,
        True, False,  True])

In [ ]:
#the above gives us an array of booleans. these are the keys to the castle!!!

In [38]:
mask = a < 0
only_negative_numbers = a[mask]
only_negative_numbers

array([-2, -1, -6, -7])

In [39]:
#.size will tell you how many elements are there

only_negative_numbers.size

4

In [41]:
#you can also use .sum() when you have a list of booleans, bc trues are 1s, and falses are 0s...
#... so .sum() counts the trues. (as 1 each)

(a < 0).sum()

4

In [24]:
a > 0

array([ True,  True,  True,  True, False, False, False, False, False,
       False,  True, False])

In [43]:
(a > 0).sum()

5

In [45]:
#or use the mask function

mask = a > 0
more_than_zero = a[mask]
more_than_zero

array([ 4, 10, 12, 23,  3])

In [46]:
more_than_zero.size

5

In [48]:
#also, one liner: think of this as select a from a where a > 0

a(a > 0).sum()

TypeError: 'numpy.ndarray' object is not callable

In [36]:
a

array([ 4, 10, 12, 23, -2, -1,  0,  0,  0, -6,  3, -7])

In [26]:
a % 2 == 0

array([ True,  True,  True, False,  True, False,  True,  True,  True,
        True, False, False])

In [49]:
is_positive = a > 0
is_even = a % 2 == 0

mask = is_positive & is_even #the ampersand is the AND in numpy
a[mask]

array([ 4, 10, 12])

In [50]:
a[(a > 0) & (a % 2 == 0)]

array([ 4, 10, 12])

In [27]:
a + 3

array([ 7, 13, 15, 26,  1,  2,  3,  3,  3, -3,  6, -4])

In [51]:
plus_three = a + 3
(plus_three > 0).sum()

10

In [52]:
#or
plus_three[plus_three > 0].size

10

In [53]:
a ** 2
#np.mean()  put the expression where the np is
(a ** 2).mean()

74.0

In [29]:
np.mean(a)

3.0

In [30]:
a ** 2

array([ 16, 100, 144, 529,   4,   1,   0,   0,   0,  36,   9,  49])

In [31]:
np.mean(a ** 2)

74.0

In [32]:
np.std(a ** 2)

144.0243035046516

In [54]:
a.mean()

3.0