In [1]:
# first, import the needed libraries: numpy, pandas and matplotlib

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [27]:
# now let's grab the list:     ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
# create a series, call it fruits_series

fruits = pd.Series(    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [28]:
#check the series

fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [29]:
#check to verify it's a series
type(fruits)

pandas.core.series.Series

In [30]:
#let's describe the series

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [31]:
#now, let's do the exercises:
#1. Determine the number of elements in fruits

#I'll use the size attribute

fruits.size

17

In [51]:
#2. Output only the index from fruits
#I'll use the index attribute with the tolist() function

fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [33]:
#Output only the values from fruits.

fruits.values.

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [34]:
#Confirm the data type of the values in fruits.

fruits.dtype

dtype('O')

In [35]:
#Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

fruits.head(5) #first five values

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [41]:
fruits.tail(3) #last three values

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [40]:
fruits.sample(2) #sampling 2 random values

12       mango
8     honeydew
dtype: object

In [42]:
#Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [60]:
#Run the code necessary to produce only the unique string values from fruits.

unique_fruits = fruits.drop_duplicates()
unique_fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [45]:
#Determine how many times each unique string value occurs in fruits.

fruits.value_counts()

kiwi                4
mango               2
pineapple           1
papaya              1
honeydew            1
watermelon          1
strawberry          1
honeycrisp apple    1
blackberry          1
blueberry           1
tomato              1
gooseberry          1
gala apple          1
dtype: int64

In [48]:
#Determine the string value that occurs most frequently in fruits.

fruits.mode()

0    kiwi
dtype: object

In [50]:
#Determine the string value that occurs least frequently in fruits.

fruits.min()

'blackberry'