In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import math

In [3]:
# df = pd.read_csv("/Users/brookeholyoak/Downloads/BH-Spreadsheets_Exercises_Solutions - bh_mytable_customer_details.csv")
df = pd.read_csv("/Users/brookeholyoak/BH_AT_customer_details.csv")

df.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,start_date,start_year,start_month,start_day,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,...,20200111,2020,1,11,72.10,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
1,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,...,20200111,2020,1,11,25.10,True,Month-to-Month,No Phone Service,DSL,Internet Only
2,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer automatic,30.50,...,20200111,2020,1,11,30.50,True,Month-to-Month,No Phone Service,DSL,Internet Only
3,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,...,20200111,2020,1,11,44.30,True,Month-to-Month,One Line,DSL,Phone+Internet
4,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,...,20200111,2020,1,11,19.85,True,Month-to-Month,One Line,No Internet Service,Phone Only

In [4]:
df.shape

(7043, 29)

In [5]:
df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,start_date,start_year,start_month,start_day,average_monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000,7043.000000,7043.000000,7.043000e+03,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,1.325004,1.222916,0.690473,64.761692,2283.300441,32.368309,1.082209,2.017013e+07,2016.950021,6.130626,15.043305,64.697004
std,0.368612,0.642730,0.778877,0.833755,30.090047,2266.771362,24.597021,1.226274,2.057460e+04,2.061343,3.727166,8.387906,30.171186
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,2.013070e+07,2013.000000,1.000000,1.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,35.500000,401.450000,9.000000,0.000000,2.015071e+07,2015.000000,3.000000,9.000000,35.450000
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.475000,29.000000,1.000000,2.017092e+07,2017.000000,6.000000,14.000000,70.350000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3794.737500,55.000000,2.000000,2.019052e+07,2019.000000,10.000000,22.000000,89.850000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000,79.000000,3.000000,2.020021e+07,2020.000000,12.000000,31.000000,118.750000

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,start_date,start_year,start_month,start_day,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,service_type
0,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,...,20200111,2020,1,11,72.10,True,Month-to-Month,Two or More Lines,Fiber Optic,Phone+Internet
1,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,...,20200111,2020,1,11,25.10,True,Month-to-Month,No Phone Service,DSL,Internet Only
2,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer automatic,30.50,...,20200111,2020,1,11,30.50,True,Month-to-Month,No Phone Service,DSL,Internet Only
3,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,...,20200111,2020,1,11,44.30,True,Month-to-Month,One Line,DSL,Phone+Internet
4,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,...,20200111,2020,1,11,19.85,True,Month-to-Month,One Line,No Internet Service,Phone Only

In [77]:
#churned_cust gives back a bool list. I want to create something that will give me ONLY the churned customers.

#I want to see the number of churned customers who are also month to month customers.

#I want to see how many of the MTM Churned customers are using FIBER
#I want to see how many of the MTM Churned customers are using DSL
#I want to see how many of the MTM Churned customers do not have internet
#Do payment Types play a role?
#I want to see what payment types FIBER MTM Churned customers are using
#is there are payment type that is significantly higher among FIBER MTM churned customers?
#Does tenure play a role?
#breakdowns of tenure in FIBER MTM churned customers

list

In [82]:
df.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure', 'is_female',
       'has_churned', 'has_phone', 'has_internet', 'has_phone_and_internet',
       'partner_dependents', 'start_date', 'start_year', 'start_month',
       'start_day', 'average_monthly_charges', 'validate_monthly_charges',
       'contract_type_desc', 'phone_type_desc', 'internet_type_desc',
       'service_type'],
      dtype='object')

SyntaxError: invalid syntax (<ipython-input-81-6d326bb03396>, line 1)